body {
    font-family: "Arial", sans-serif;
}

#addresses {
    margin-top: 20px;
    border-collapse: collapse;
    width: 100%;
}

#addresses th, #addresses td {
    border: 1px solid #ddd;
    padding: 8px;
}

#addresses tr:nth-child(even) {
    background-color: #f2f2f2;
}

#addresses th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #DE323C;
    color: white;
}
